/* Primeira div */
.valores{
    display: flex; /* Faz a mágica do item ocupar apenas o próprio espaço */
    justify-content: center;
    /* gap: 3rem; */
    /* margin: auto;  Posicionando a div no meio da tela */
    margin-top: -40px;  /* Fazendo a div sobrepor a div de cima */
    /* border-radius: 5px; */
    font-size: large;
    /* background-color: green; */
    /* padding: 10px; */
  }
  
  .valores .geral-header{
    display: flex;
    justify-content: center;
    /* gap: 3rem; */
    /* margin: 5px; */
    background-color: white;
    /* padding: 0.5rem; MEXER AQUI PARA FICAR RESPONSIVO */
    border-radius: 5px;
    margin: 15px;
    width: 940px;
    height: 90px;
    box-shadow: rgb(204, 204, 204) 0px 0px 5px;
    /* flex-wrap: wrap;  */
    /* ^ Permite que os elementos se movam para a próxima linha quando não há espaço suficiente */
  
  }
  
  .valores-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    /* margin-left: 40px; */
    padding: 10px;
    flex: 1;
    box-sizing: border-box; /* Evita que o padding afete a largura total do elemento */
  }
  
  .menu-header{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    /* flex: 1 1 0%; */
    /* align-items: center; */
    /* -webkit-box-align: center; */
  }
  
  .menu-header div{
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
  }