/* Cabeçalho */
.header{
  display: flex;
  background-color: black;
  justify-content: center; /* Posicionando Horizontalmente */
  align-items: top; /* Posicionando Verticalmente */
  height: 6rem;
  width: 100vw;
}

.header h1{
  padding: 15px;
  color: white;
}